<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>plaing menu</title>
  </head>
  <body>
    <h1>plating menu list</h1>
    <ol>
      <% for(var i = 0; i< menus.length; i++){%>
        <li>
          <a href='/menus/<%= menus[i].id %>'>
          <%= menus[i].name%>
          </a>
        </li>
      <% }; %>
    </ol>
    <article>
      <% if(menu) { %>
        <h2><%= menu.name %></h2>
        <p><%= menu.description %></p>
        <p><%= 'by ' + menu.chef %></p>
      <% } else {%>
        <h2>Welcome</h2>
        Choice the menu!
      <% } %>
    </article>
    <div>
      <a href="/menus/new">new menu</a>
    </div>
  </body>
</html>
